<h1>Welcome Movie</h1>

{{#each movie}}
        <img src = "{{this.image}}" alt = "peli"/>
        <h5>{{this.title}}</h5>
        <a href="/movie/{{id}}">See more</a>
        
{{else}}
    <p class="empty">No content</p>
{{/each}}


<a href="/movie_list/{{this._id}}">Go back to list</a>